DATABASE_URL=postgresql://user:password@localhost:5432/panic_trader
ADMIN_TOKEN=change-this-dashboard-password

BYBIT_API_KEY=Mj8lClA90BOjNUidPI
BYBIT_API_SECRET=etAdJ9i1gEhFIU1YNPP1nUzeXsPfaXZaRcmx

PORT=3000
NODE_ENV=development
