BYBIT_MODE=live

RESERVE_USDT=501
MIN_TRANSFER_USDT=1
POSITION_TOPUP_USDT=50

# Use positive value.
# LOSS_CLOSE_USDT=0.01 means close when unrealisedPnl <= -0.01
LOSS_CLOSE_USDT=0.01

BOT_SLEEP_SEC=15
POSITION_LOCK_FILE=/tmp/bybit_position_topup.lock

COPY_TRADE_ENABLED=true
COPY_TRADE_LEADER_ACCOUNT=1
COPY_TRADE_FOLLOWERS_START=2
COPY_TRADE_FOLLOWERS_END=50
COPY_TRADE_LEVERAGE=3
COPY_TRADE_WALLET_PCT=0.90
COPY_TRADE_MIN_ORDER_USDT=5
COPY_TRADE_REQUIRE_NO_FOLLOWER_POSITION=true
COPY_TRADE_LOCK_PREFIX=/tmp/bybit_copy_trade.lock

BYBIT_API_KEY_1=Mj8lClA90BOjNUidPI
BYBIT_API_SECRET_1=etAdJ9i1gEhFIU1YNPP1nUzeXsPfaXZaRcmx

BYBIT_API_KEY_2=your_api_key_2_here
BYBIT_API_SECRET_2=your_api_secret_2_here

BYBIT_API_KEY_3=your_api_key_3_here
BYBIT_API_SECRET_3=your_api_secret_3_here

BYBIT_API_KEY_4=your_api_key_4_here
BYBIT_API_SECRET_4=your_api_secret_4_here

BYBIT_API_KEY_5=your_api_key_5_here
BYBIT_API_SECRET_5=your_api_secret_5_here

BYBIT_API_KEY_6=your_api_key_6_here
BYBIT_API_SECRET_6=your_api_secret_6_here

BYBIT_API_KEY_7=your_api_key_7_here
BYBIT_API_SECRET_7=your_api_secret_7_here

BYBIT_API_KEY_8=your_api_key_8_here
BYBIT_API_SECRET_8=your_api_secret_8_here

BYBIT_API_KEY_9=your_api_key_9_here
BYBIT_API_SECRET_9=your_api_secret_9_here

BYBIT_API_KEY_10=your_api_key_10_here
BYBIT_API_SECRET_10=your_api_secret_10_here

BYBIT_API_KEY_11=your_api_key_11_here
BYBIT_API_SECRET_11=your_api_secret_11_here

BYBIT_API_KEY_12=your_api_key_12_here
BYBIT_API_SECRET_12=your_api_secret_12_here

BYBIT_API_KEY_13=your_api_key_13_here
BYBIT_API_SECRET_13=your_api_secret_13_here

BYBIT_API_KEY_14=your_api_key_14_here
BYBIT_API_SECRET_14=your_api_secret_14_here

BYBIT_API_KEY_15=your_api_key_15_here
BYBIT_API_SECRET_15=your_api_secret_15_here

BYBIT_API_KEY_16=your_api_key_16_here
BYBIT_API_SECRET_16=your_api_secret_16_here

BYBIT_API_KEY_17=your_api_key_17_here
BYBIT_API_SECRET_17=your_api_secret_17_here

BYBIT_API_KEY_18=your_api_key_18_here
BYBIT_API_SECRET_18=your_api_secret_18_here

BYBIT_API_KEY_19=your_api_key_19_here
BYBIT_API_SECRET_19=your_api_secret_19_here

BYBIT_API_KEY_20=your_api_key_20_here
BYBIT_API_SECRET_20=your_api_secret_20_here

BYBIT_API_KEY_21=your_api_key_21_here
BYBIT_API_SECRET_21=your_api_secret_21_here

BYBIT_API_KEY_22=your_api_key_22_here
BYBIT_API_SECRET_22=your_api_secret_22_here

BYBIT_API_KEY_23=your_api_key_23_here
BYBIT_API_SECRET_23=your_api_secret_23_here

BYBIT_API_KEY_24=your_api_key_24_here
BYBIT_API_SECRET_24=your_api_secret_24_here

BYBIT_API_KEY_25=your_api_key_25_here
BYBIT_API_SECRET_25=your_api_secret_25_here

BYBIT_API_KEY_26=your_api_key_26_here
BYBIT_API_SECRET_26=your_api_secret_26_here

BYBIT_API_KEY_27=your_api_key_27_here
BYBIT_API_SECRET_27=your_api_secret_27_here

BYBIT_API_KEY_28=your_api_key_28_here
BYBIT_API_SECRET_28=your_api_secret_28_here

BYBIT_API_KEY_29=your_api_key_29_here
BYBIT_API_SECRET_29=your_api_secret_29_here

BYBIT_API_KEY_30=your_api_key_30_here
BYBIT_API_SECRET_30=your_api_secret_30_here

BYBIT_API_KEY_31=your_api_key_31_here
BYBIT_API_SECRET_31=your_api_secret_31_here

BYBIT_API_KEY_32=your_api_key_32_here
BYBIT_API_SECRET_32=your_api_secret_32_here

BYBIT_API_KEY_33=your_api_key_33_here
BYBIT_API_SECRET_33=your_api_secret_33_here

BYBIT_API_KEY_34=your_api_key_34_here
BYBIT_API_SECRET_34=your_api_secret_34_here

BYBIT_API_KEY_35=your_api_key_35_here
BYBIT_API_SECRET_35=your_api_secret_35_here

BYBIT_API_KEY_36=your_api_key_36_here
BYBIT_API_SECRET_36=your_api_secret_36_here

BYBIT_API_KEY_37=your_api_key_37_here
BYBIT_API_SECRET_37=your_api_secret_37_here

BYBIT_API_KEY_38=your_api_key_38_here
BYBIT_API_SECRET_38=your_api_secret_38_here

BYBIT_API_KEY_39=your_api_key_39_here
BYBIT_API_SECRET_39=your_api_secret_39_here

BYBIT_API_KEY_40=your_api_key_40_here
BYBIT_API_SECRET_40=your_api_secret_40_here

BYBIT_API_KEY_41=your_api_key_41_here
BYBIT_API_SECRET_41=your_api_secret_41_here

BYBIT_API_KEY_42=your_api_key_42_here
BYBIT_API_SECRET_42=your_api_secret_42_here

BYBIT_API_KEY_43=your_api_key_43_here
BYBIT_API_SECRET_43=your_api_secret_43_here

BYBIT_API_KEY_44=your_api_key_44_here
BYBIT_API_SECRET_44=your_api_secret_44_here

BYBIT_API_KEY_45=your_api_key_45_here
BYBIT_API_SECRET_45=your_api_secret_45_here

BYBIT_API_KEY_46=your_api_key_46_here
BYBIT_API_SECRET_46=your_api_secret_46_here

BYBIT_API_KEY_47=your_api_key_47_here
BYBIT_API_SECRET_47=your_api_secret_47_here

BYBIT_API_KEY_48=your_api_key_48_here
BYBIT_API_SECRET_48=your_api_secret_48_here

BYBIT_API_KEY_49=your_api_key_49_here
BYBIT_API_SECRET_49=your_api_secret_49_here

BYBIT_API_KEY_50=your_api_key_50_here
BYBIT_API_SECRET_50=your_api_secret_50_here
