BYBIT_MODE=live
BYBIT_API_KEY=sEbf7a0CPQAli19SyJ
BYBIT_API_SECRET=sCxIwnJFYFvgoeBf7hgLY7rqCN4rhUVx3mre

RESERVE_USDT=501
MIN_TRANSFER_USDT=1
POSITION_TOPUP_USDT=50
LOSS_CLOSE_USDT=70
BOT_SLEEP_SEC=15
POSITION_LOCK_FILE=/tmp/bybit_position_topup.lock
